.container {
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    background-image: url(../assets/images/img17compressed.jpeg);
    background-size: cover;
        color: #001f75;
}